*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 20px;
}

h2, h3{
    margin-top: 80px;
}

p{
    margin-top: 25px;
}

ul{
    list-style-type: lower-latin;
    padding-left: 25px;
}

li{
    margin-top: 20px;
}